html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.hljs {
  font-size: 150%;
}

.application {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
}

.mapping {
  position: absolute;
  width: 100%;
  height: 100%;
}

.application-panel {
  padding: 12px;
  width: auto;

  display: flex;
  flex-direction: column;
}
/*
.application-panel .hljs {
  background: black;
} */

.esri-widget .application-panel {
  background-color: #242424DD;
  backdrop-filter: blur(5px) contrast(200%);
}

.application-panel fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.application-panel .js-code {
  position: relative;
}

.application-panel .run-button {
  position: absolute;
  right: 5px;
  top: 5px;
}

.application-panel legend {
  font-size: 16px;
}

.esri-widget--button.esri-widget.free-width {
  width: auto;
  padding-left: 12px;
  padding-right: 12px;
}